:root{
    /*variabili colori*/
    --primary-color: #FFFFFF;
    --secondary-color: #E4E2DD;
    --background-color: #FAFAF8;
    --border-color: #E4E2DD;
    --details-color: #2B4C3F;
    --font-color: #1A1A18;

    /*variabili font*/
    --title-font: 'Lora', serif;
    --body-font: 'Inter', sans-serif;
     
    /*variabili dimensioni*/
    --header-height: 80px;
}

/*seleziona tutti gli elementi e tutti gli pseudoelementi*/
*,
*::before,
*::after {
    box-sizing: border-box;
    /*box-sizing: border-box è un box model alternativo che
    permette di definire le dimensioni del box in maniera non 
    additiva sulle parti scelte del box*/
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: var(--body-font);
    color: var(--font-color);   
    /*impostato il colore di background della pagina, il font e il 
    colore del font*/ 
}

a{
    text-decoration: none;
    /*rimuove la sottolineatura*/
    color: inherit;
    /*i link non sono più blu: ereditano il colore del genitore (le proprietà del testo 
    sono ereditabili*/
}

ul{
    list-style: none;
    /*toglie il pallino*/
}

/*----------------------------------MOBILE FIRST-------------------------------------------*/


/*---------Header-------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*porto header fuori dal flusso normale e lo fisso in cima alla pagina, in questo modo è 
    sempre visibile in alto*/
    width: 100%; /*prende tutta la larghezza disponibile*/
    height: var(--header-height); 
    
    border-bottom: 1px solid var(--border-color);
    /*bordo solo in basso*/

    z-index: 100;
    /*porta in primo piano sugli altri elementi*/
    background-color: var(--background-color);
}

.header__container{
    max-height: var(--header-height);

    margin-top: auto;
    margin-bottom: auto;
    padding: 4%;
    /*per centrarlo nell'header*/

    display:flex;
    /*visualizzazione interna: flexbox
    flex-direction non specificata, di default gli elementi vengono disposti in riga: 
    logo, barra di ricerca, nav*/
    align-items: center;
    /*allinea gli elementi al centro del box*/
    justify-content: space-between;
    /*posiziona gli elementi del flexbox lasciando dello spazio in mezzo*/
}

.header__logo{
    font-family: var(--title-font);

    font-size: 1.6rem;

    letter-spacing: 1px;
    /*aggiunge dello spazio tra le lettere*/
}

.header__searchbar{
    display:flex;
    /*modificato la visualizzazione interna: lo rende un flexbox
    elementi in riga:
    icona lente di ingrandimento, input search*/
    justify-content: space-between;
    /*posiziona gli elementi del flexbox lasciando dello spazio in mezzo*/
    gap: 0.3rem;
    /*aggiunge spazio tra gli elementi del flexbox*/   
    align-items: center;
    /*allinea gli elementi al centro del box*/
    height: 27px;
    /*assegnata altezza*/    
    border: 1px solid var(--border-color);
    /*aggiunto bordo*/
    border-radius: 15px;
    /*reso bordi più tondi*/
    padding: 3px;
    /*aggiunto spazio intorno*/
}

.header__searchbar-icon{
    color: var(--font-color);
}

#search-input{ 
    border: none;
    /*nessun bordo*/
    border-radius: 15px;
    /*reso bordi più tondi anche se non visibili, in modo da non andare a sovrapporsi a quelli del
    genitore altrimenti si vedono delle linee spezzate*/
    background-color: var(--background-color);
    /*cambiato colore di background*/
}

#search-input:focus{
    outline: none;
    /*rimuove il contorno giallo*/
}

/*---------Menu-------------*/
.menu{
    position: sticky;
    top: var(--header-height);
    z-index: 200;
    /*si attacca all'header in modo che sia visibile anche quando
    si scorre*/

    width: 100%;
    /*si prende tutta la larghezza disponibile*/
    height: 40px; 
    /*assegnata altezza*/
    background-color: var(--secondary-color);
    /*assegnato colore background per contrasto*/
    display: flex;
    /*modificato la visualizzazione interna: lo rende un flexbox
    elementi in riga:
    login, carrello;*/
    justify-content: space-around;
    /*posiziona gli elementi all'interno del flexbox in modo da lasciare 
    dello spazio vuoto intorno ad ognuno*/
    align-items: center;
    /*allinea gli elementi del flexbox al centro*/
    border-bottom: 1px solid var(--border-color);
    /*aggiunto bordo in basso*/
}

.menu__logout{
    background-color: transparent;

    border: none;

    font-family: var(--body-font);
    font-size: medium;
}
#header__login, #header__cart, #header__profile{
    display: none;
    /*in modalità mobile c'è l'icona hamburger per il menù al
    posto di login e carrello*/
}

.header__menu-btn{
    background-color: transparent;
    /*nessun colore di background*/
    border: none;
    /*nessun bordo*/
    font-size: 1.2rem;
    /*dimensione icona hamburger per il menù*/
    cursor: pointer;
    /*quando il cursore ci passa sopra diventa una manina*/
    color: var(--font-color);
}

.header__menu-btn:focus{
    outline: none;
}

/*---------FilterBar-------------*/
.filter-bar__container{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    
}

.filter-bar-btn{
    padding: 9px;
    
    border: 1px solid var(--border-color);
    border-radius: 20px;

    background-color: var(--secondary-color);

    font-family: var(--body-font);
    font-size: small;

    cursor: pointer;
}

/*---------main-------------*/
.main{
    min-height: 100vh;
    padding-top: var(--header-height);
}


/*---------HomePage-------------*/
.main__banner{
    height: 200px;
    /*assegnata altezza*/  
    background-image: url('../banner_mobile.jpg');
    /*messo immagine di background*/
    background-position: center;
    /*centra l'immagine*/
}

.main__banner-text{
    margin: 0;
    /*eliminati margini*/
    background-color: rgba(0, 0, 0, 0.607);
    /*assegnato colore background scuro per rendere testo più leggibile
    ma trasparente in modo da poter ancora vedere l'immagine*/
    color: white;
    /*colore testo bianco per aumentare contrasto*/
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    /*aggiunto ombra al testo per aumentare contrasto*/
    text-align: center;
    /*pone il testo al centro*/
    line-height: 200px;
    /*pone il testo al centro anche verticalmente*/
}

.products__container{
    min-height: 100vh;
    
    padding: 2%;
    padding-top: 0;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: max-content;
}

.product-card{
    margin: 5px;

    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;

    max-width: auto;
    min-height: auto;
}

.product-card__img{
    border: 1px solid var(--border-color);
    
    min-height: 5em;
}

.product-card__info{
    padding-left: 3%;

    font-size: small;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-card__cart-btn{
    margin-top: auto;
    margin-bottom: 1%;

    padding: 9px;

    width: fit-content;

    align-self: center;

    border-radius: 20px;

    border: 1px solid var(--border-color);
    background-color: var(--details-color);
    color: white;

    cursor: pointer;
}

/*---------LoginPage-------------*/
.form__container{
    max-width: 350px;
    /*assegna massima larghezza al contenitore*/
    margin: 10rem auto;
    /*centra il contenitore nella pagina*/
    padding: 20px;
    
    border: 1px solid var(--border-color);
    border-radius: 10px;

    background-color: var(--secondary-color);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    /*aggiunge un'ombra al contenitore per farlo risaltare*/

    text-align: center;
    /*allinea il testo al centro del contenitore*/
}

.form__field{
    margin: 10px;

    display: flex;
    flex-direction: column;
    /*modificata la visualizzazione interna dei div .form__field
    in modo da disporre i label e gli input uno sotto l'altro*/
    justify-content: space-around;
    /*posiziona gli elementi del flex box in modo da lasciare
    dello spazio intorno*/
    gap: 0.5em;
    /*aggiunge spazio tra gli elementi*/
    align-items: center;
    /*allinea gli elementi al centro del flex box*/
}

.form__field > input{
    width: 50%;
    height: 22px;

    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.form__field > input:focus{
    outline: none;
    /*toglie il contorno giallo*/
}

#form__action-btn{
    padding: 5px;

    background-color: var(--details-color);
    border: none;
    border-radius: 5px;

    color: white;
    font-weight: 700;

    cursor: pointer;
}

.form__switch{
    margin-top: 10px;

    font-size: small;
}

#form__switch-btn{
    margin: 5px;

    border: none;

    background-color: transparent;

    color: var(--details-color);
    font-weight: 700;

    box-shadow:rgba(0, 0, 0, 0.3);

    cursor: pointer;
}

/*---------CartPage-------------*/
.cart__title{
    margin: 1%;
}

.cart-products__container{
    margin: 1%;
}

.cart__product-card {
    padding: 2%;

    display: flex;
}

.cart__product-card .product-card__img{
    min-width: 30%;
}

.cart__product-card .product-card__info{
    padding: 1%;

    border: 1px solid var(--border-color);

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__product-card .product-card__cart-btn{
    margin-left: auto;

    max-width: fit-content;
}

.cart__shipment-info{
    margin: 1%;

    max-height: fit-content;
    
    border: 1px solid var(--border-color);
    border-radius: 10px;

    background-color: var(--secondary-color)
}

.cart__form-field{
    margin: 10px;

    display: flex;
    flex-direction: column;
    /*modificata la visualizzazione interna dei div .cart__form-field
    in modo da disporre i label e gli input uno sotto l'altro*/
    justify-content: space-around;
    /*posiziona gli elementi del flex box in modo da lasciare
    dello spazio intorno*/
    gap: 0.5em;
    /*aggiunge spazio tra gli elementi*/
}

.cart__form-field input{
    height: 22px;
}

.cart__form-field input:focus{
    outline: none;
}

.cart__form-field div{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.cart__total{
    margin: 10px; 
}

#cart__form-btn{
    display: block;
    margin: 0 auto;

    margin-bottom: 10px;

    padding: 10px;
    
    border: none;
    border-radius: 20px;

    font-size: medium;

    background-color: var(--details-color);
    
    color: white;
    font-weight: 700;

    cursor: pointer;
}

/*---------ProfilePage-------------*/
.profile__container{
    border: 1px solid var(--border-color);
    border-radius: 10px;

    margin: 2%;
    padding: 2%;

    
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.profile__info{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.profile__info-field{
    border-bottom: 1px solid var(--border-color);

    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    align-items: center;
}

.profile__info-field i{
    font-size: 1.8rem;
    margin: 2%;
}

.profile__info-field label{
    font-weight: bold;
}

.modify-btn, .save-btn{
    margin-left: auto;
    padding: 9px;

    border-radius: 20px;

    font-family: var(--body-font);
    font-size: small;

    background-color: transparent;

    cursor: pointer;
}

.modify__form{
    margin-left: auto;

    display: flex;

    gap: 0.5rem;
}

.modify__form input{
    padding: 9px;

    border-radius: 20px;

    height: 35px;

    flex: 1;
}


.profile__order-card{
    margin: 2%;
    padding: 2%;

    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    gap: 0.8rem;
}




/*----------------------------------MODALITA' DESKTOP-------------------------------------------
 stile della pagina in modalità desktop realizzato tramite media query*/
@media screen and (min-width: 800px) { 
    /*(min-width: 800px) => breakpoint, quando la dimensione della pagina visibile è maggiore
    di 800px vengono applicate queste regole*/

    /*---------Header-------------*/
    .header__logo{
        font-size: xx-large;
    } 
    
    #header__login, #header__cart, #header__profile{
        display: inline;
    }
    /*diventano visibili i bottoni login e carrello 
    nell'header al posto del menù*/
    
    .header__searchbar{
        width: 50%;
        height: 35px;
        /*la barra di ricerca diventa più grande*/

        margin-right: 6rem;
        margin-left: 6rem;
    }

    #search-input{
        width: 100%;
    }

    .nav__list{
        display: flex;
        /*visualizzazione interna: flexbox
        flex-direction non specificata, di default gli elementi vengono disposti in riga: 
        logo, barra di ricerca, nav*/
        align-items: center;
        /*allinea gli elementi al centro del box*/
        justify-content: space-between;
        /*posiziona gli elementi del flexbox lasciando dello spazio in mezzo*/
        gap: 6rem;
    }

    .header__login-btn, .header__logout-btn{
        border: 1px solid var(--border-color);
        /*aggiunto bordo al bottone*/
        border-radius: 15px;
        /*reso bordi più tondi*/
        padding: 9px;
        /*aggiunto dello spazio tra bordo e contenuto(scritta Login)*/
        background-color: var(--details-color);
        /*colore di background per dare contrasto*/
        color: white;
        /*cambiato colore per renderlo più leggibile*/
        font-size: 1.05rem;
        /*cambiato dimensione*/
    }

    .header__cart-btn{
        background-color: transparent;
        /*nessun colore di background*/
        border: none;
        /*nessun bordo*/
        padding: 15px;
        /*aggiunto dello spazio tra bordo e contenuto(scritta Carrello)*/
        font-size: 1.05rem;
        /*cambiato dimensione*/
    }

    /*---------Menu-------------*/
    .menu, #header__menu {
        display: none;
    }
    /*il menù e il tasto menù spariscono*/

    /*---------main-------------*/
    .main__banner{
        height: 400px;
        /*assegnata altezza maggiore*/ 
        background-image: url('../ed-robertson-eeSdJfLfx1A-unsplash\ \(2\).jpg');
        /*messo immagine di background più grande*/
    }

    .main__banner-text{
        line-height: 400px;
        /*pone il testo al centro anche verticalmente*/
    }

    /*---------LoginPage-------------*/
    .form__container{
        margin: 5rem auto;
    }

    .products__container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }


    /*---------CartPage-------------*/
    .cart__container{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    /*---------ProfilePage-------------*/
    .profile__order-card{
    flex-direction: row;

    align-items: center;
}
}