.App{
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    margin-top: 80px;
}

a{
    text-decoration: none;
    /*rimuove la sottolineatura*/

    color:inherit;
    /*i link non sono più blu: ereditano il colore del genitore*/
}

